/*---------------- IMAGE SLIDER ---------------*/
.ImageSlider {
    .wrapper {
        max-height: 300px;
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .wrapper::-webkit-scrollbar {
        display: none;
    }

    .arrows {
        padding: 10px 20px;
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-arrow,
        .right-arrow {
            color: $lightgrey;
            height: 2rem;
            width: 2;
            transition: 0.1s ease;
            cursor: pointer;
        }

        .left-arrow:hover,
        .right-arrow:hover {
            color: $pastelblue;
        }
    }
}

.Slide {
    width: 500px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3 {
    }
}
