// globals.scss

// defines global styling behavior

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.snap-container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.snap-child {
    scroll-snap-align: start;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stop-transitions {
    transition: none !important;
}
// HEADLINES
h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
}

h2 {
    color: $darkgrey;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    color: $darkgrey;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

h4 {
    color: $lightgrey;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h5 {
    color: $lightgrey;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

// BUTTONS
.button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background-color: $lightgrey;
    color: white;
    transition: 0.2s ease;
}

.button:hover {
    background-color: $accent;
}

a {
    color: $darkgrey;
    text-decoration: none;
    transition: 0.5s ease;
}

a:hover {
    color: $accent;
    transform: scale(1.05);
}
// FANCY LINKS
.link {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;

    .a {
        text-decoration: none;
        color: $darkgrey;
        transition: color 1ms linear;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0px;
        border-bottom: 3px solid $accent;
        transform: translateY(3px);
    }
    &:hover {
        transform: translateY(-3px);
    }
    &:hover .a {
        color: $accent;
    }
    &:hover::after {
        transform: translateY(0);
    }
}

// icons
.icon {
    color: $lightgrey;
    cursor: pointer;
    transition: 0.5s ease;
}

.icon:hover {
    color: $accent;
    transform: scale(1.05);
}

/* --------------- COMPONENT ------------ */
.component {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1px solid green;

    .component-header {
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .component-icon {
            width: 50px;
            height: 50px;
        }

        .component-title {
            position: relative;
            z-index: 1;
            padding-bottom: 15px;
            padding-top: 30px;
        }

        @media screen and (max-width: 600px) {
            .component-title {
                font-size: 1.8rem;
            }
        }
        /*
        .component-title:before {
            content: '';
            position: absolute;
            left: calc(50% - 25px);
            bottom: 0;
            height: 2px;
            width: 50px;
            border-bottom: 1px solid $darkgrey;
        }
		*/

        .component-subtitle {
            max-width: 1000px;
            margin-top: 15px;
            font-size: 1.3rem;
            text-align: center;
            color: $darkgrey;
            width: 80%;
            word-wrap: break-word;
            letter-spacing: 1.5px;
        }
    }

    .component-content {
        width: 100vw;
        margin-top: 50px;
        margin-bottom: 10%;
    }
}

/* --------------- ArrowNavigation ------------ */
.scroll-up,
.scroll-down {
    height: 50px;
    width: 50px;
}
