// globals.scss

// defines global styling behavior

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

// HEADLINES
h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
}

h2 {
    color: $darkgrey;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    color: $darkgrey;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

h4 {
    color: $lightgrey;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h5 {
    color: $lightgrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

// BUTTONS
button {
    border: none;
    outline: none;
    cursor: pointer;
}

// LINKS
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// icons
.icon {
    color: $lightgrey;
    cursor: pointer;
}

.icon:hover {
    color: $pastelblue;
}

/* --------------- COMPONENT ------------ */
.component {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    .component-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .component-icon {
            width: 50px;
            height: 50px;
        }

        .component-title {
            position: relative;
            z-index: 1;
            padding-bottom: 15px;
            padding-top: 30px;
        }

        .component-title:before {
            content: '';
            position: absolute;
            left: calc(50% - 25px);
            bottom: 0;
            height: 2px;
            width: 50px;
            border-bottom: 1px solid $darkgrey;
        }

        .component-subtitle {
            max-width: 800px;
            margin-top: 15px;
        }
    }

    .component-content {
        width: 100vw;
        margin-top: 50px;
    }
}

/* --------------- ArrowNavigation ------------ */
.scroll-up,
.scroll-down {
    height: 50px;
    width: 50px;
}
