@import './variables';
@import './globals';
@import './components.scss';

/* ------HEADER-------- */ // general
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    height: 150px;

    .subheader h4 {
        padding-top: 2px;
        color: $darkgrey;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        h2 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 0.6rem;
        }
    }
}

// navbar
.Navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navbar-regular {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

// burger
.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 102;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: $darkgrey;
}

.burger-icon:hover {
    .burger-line {
        background-color: $accent;
    }
}

.menu-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s ease;
    z-index: 100;

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        margin: 200px 0;

        .link {
            font-size: 3rem;
            margin: 5% 0;

            &:after {
                border-bottom: 10px solid $accent;
                transform: translateY(10px);
            }
            &:hover {
                transform: translateY(-10px);
            }
            &:hover::after {
                transform: translateY(0);
            }

            @media screen and (max-width: 700px) {
                font-size: 2.2rem;
            }
        }
    }
}

/* --------------- LANDING COMPONENT ------------ */

.Landing {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
    min-height: 800px;
    width: 100vw;
    overflow: hidden;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 6rem;
            text-align: center;
            margin-bottom: 50px;
            border-bottom: 20px solid $accent;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: 400;
            text-align: center;
        }

        .scroll-down-container {
            position: relative;
            text-align: center;
            margin-top: 50px;
            width: 100px;
            height: 50px;
            transition: 0.5s ease;
            cursor: pointer;

            &:after {
                color: $accent;
                content: 'Explore';
                font-size: 0.9rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                position: absolute;
                text-align: center;
                left: 0;
                bottom: -10px;
                width: 100%;
                transition: 0.5s ease;
                opacity: 0;
            }

            &:hover::after {
                opacity: 1;
                transform: scale(1.05);
            }

            &:hover .icon {
                color: $accent;
                transform: scale(1.05);
            }

            .icon {
                height: 100%;
                width: 100%;
            }
        }

        @media screen and (max-width: 1200px), (max-height: 1000px) {
            h1 {
                font-size: 4rem;
            }
            h3 {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: 800px) {
            h1 {
                font-size: 2rem;
            }
            h3 {
                font-size: 1.2rem;
            }
        }
    }

    .Slider {
        position: absolute;
        width: 100%;
        // max-width: 1400px;
        height: 100%;
        opacity: 50%;
        z-index: -5;

        .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition-duration: 2s ease;
            overflow: hidden;
        }

        .slide.active {
            opacity: 1;
            transition-duration: 2s;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

/*---------------- PHILOSOPHY ---------------*/
.Philosophy {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 30%;
            padding: 20px;
            min-height: 350px;
            max-height: 400px;
            transition: 1s ease-out;

            @media screen and (max-width: 1000px) {
                width: 80%;
                margin: 20px 0;
                min-height: 300px;
            }

            .main {
                .icon {
                    height: 25px;
                    width: 25px;
                }
                h3 {
                    font-size: 25px;
                    padding-top: 20px;
                }
                p {
                    margin-top: 20px;
                }
            }

            a {
            }

            a:hover {
                color: $accent;
            }
        }

        .column:hover {
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width: 1000px) {
    .Philosophy {
        .container {
            flex-direction: column;

            .column {
                width: 100%;
                margin-top: 5%;
                min-height: 300px;
            }
        }
    }
}

.parent:hover img {
    transform: scale(1.2);
}

// FOOTER
.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 20px auto;

    h4 {
        color: black;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;

        a {
            padding: 0 20px;

            .icon {
                width: 30px;
                height: 30px;
            }

            p {
                font-family: 'Open Sans', sans-serif;
                color: $lightgrey;
                font-size: 0.8rem;
                transition: 0.1s ease;
            }
        }

        a:hover p {
            color: $accent;
        }
    }
}
