// variables.scss
// defines global fonts and colors used in the project

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap'); // Open Sans
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); // Prata Typewriter Style

// COLORS

// pastels
$pastelorange: #ffc7a5;
$pastelblue: #5b63ad;

$lightgrey: #8d8c8e;
$darkgrey: #414042;
